@charset "UTF=8";

body{
    max-width: width 800px;
    margin:auto;
    font: size 1px;
    font-family: serif;


}

h1{
    font: size 1cm;
    font-weight: 200;
    font-family:serif;
    color: brown;
    text-align: left;
    background-color: rgba(211, 112, 160, 0.779);

}

h3::first-letter{
    font-size: 2em;
    color: rgb(198, 103, 160);
}

p{
    color: rgb(149, 47, 165);
    background-color: rgba(174, 116, 29, 0.071);
    background-image:url(../img/56ADD0F5-8CAD-4E67-A8E3-6F72E9F2214D.jpeg)

}

h1:hover{
    font-size: 4em;
}

p:hover{
    color:black;
}

#top{
    color: red;
}
